html, body {
	font-family: Myriad Pro, Verdana, Helvetica Neue, Helvetica, Arial, sans-serif, Microsoft YaHei ;
	font-size: 10px;
	line-height: 24px;
	margin: 15px;
	color: #333;
}
body {
	background: white url(/img/white_carbon.png) repeat scroll; 
}


span,h1, h2, h3 , h4 {
	color: #156487;
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: normal;
}

p {
	margin: 0 0 15px 0;
}
ul {
	list-style-type: none;
	padding: 0;
}

a img {
	border: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #f63;
}
a:hover {
	color: #f60;
}

#container {
	width: 960px;
	margin: auto;
}

#side-content {
	width: 200px;
	float: left;
}

#body-content {
	width: 740px;
	float: right;
	margin-left: 20px;
	box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;
	padding: 20px;
}

#photo {
	margin-top: 90px;
	margin-bottom: 10px;
}

#photo img {
	display: block;
}

#status {
	background-color: white;
	padding: 10px;
}

#watching {
}

#networks img {
	background-color: white;
}

#work-history img {
	vertical-align: middle;
	margin: 0 10px 5px 0;
	height: 30px;
}

#footer {
	clear: both;
}

.section {
	font-family: Microsoft YaHei ;
	font-size: 13pt;
	color: black;
	margin-bottom: 30px;
}

ul li {
	margin-bottom: 15px;
}

.twtr-join-conv {
	display: none !important;
}

